[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-graph_bar:before {
  content: "\e901";
}
.icon-MF:before {
  content: "\e902";
}
.icon-research:before {
  content: "\e903";
}
.icon-smartphone:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-key:before {
  content: "\e906";
}
.icon-barcode:before {
  content: "\e907";
}
.icon-user1:before {
  content: "\e908";
}
.icon-email_envelope:before {
  content: "\e909";
}
.icon-card:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90b";
}
.icon-calender:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e90d";
}
.icon-bulb:before {
  content: "\e90e";
}
.icon-glasses:before {
  content: "\e90f";
}
.icon-fashion-hat:before {
  content: "\e910";
}
.icon-30-minutes:before {
  content: "\e911";
}
.icon-research1:before {
  content: "\e912";
}
.icon-bar-chart:before {
  content: "\e913";
}
.icon-checked_confirm:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-down_retro:before {
  content: "\e916";
}
.icon-exclamation:before {
  content: "\e917";
}
.icon-hat:before {
  content: "\e918";
}
.icon-home2:before {
  content: "\e919";
}
.icon-momentum:before {
  content: "\e91a";
}
.icon-paper:before {
  content: "\e91b";
}
.icon-pen:before {
  content: "\e91c";
}
.icon-profits:before {
  content: "\e91d";
}
.icon-profits1:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e91f";
}
.icon-sure:before {
  content: "\e920";
}
.icon-location:before {
  content: "\e921";
}
.icon-arrow_chevron:before {
  content: "\e922";
}
.icon-arrow-bottom:before {
  content: "\e923";
}
.icon-dot_more:before {
  content: "\e924";
}
.icon-camera_icon:before {
  content: "\e925";
}
.icon-upload_icon:before {
  content: "\e926";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
