@import '../_variable.scss';

.loading_block_outer {
    .loading_block {
        margin: 0 auto 0 auto;
        max-width: 530px;
        width: 95%;
        height: 380px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;   
        font-family: $font-stack;
        z-index: 1;
        padding: 0 20px;
        @media only screen and (max-width: $tablet1) {
            width: 100%;
        }
        .carousel-item {
            margin-bottom: 10px;
            p{
                font-size: 16px;
                color: #5c5c5c;
                font-family: $font-stack;
                font-weight: $font-weight-medium;
                margin-bottom: 0;
                @media only screen and (max-width: $tablet1) {
                    font-size: 14px;
                }
                .red-text {
                    color: #dc0505;
                }
            }
            b {
                font-weight: $font-weight-medium;
                text-transform: uppercase;
                color: $main-bg;
            }
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
    }
}

.upload_page{
    opacity: 3;
}