@import '../_variable.scss';
@import '../fonts.scss';


.inner-header-bg {
    background: $main-bg;
    .inner-header {
        max-width: 1275px;
        width: 100%;
        margin: 0 auto;
        padding: 14px 0;
        @media only screen and (max-width: 1275px) {
            padding: 14px 5px;
        }
    }
}
.term-plan-qte {
    .container {
        max-width: 1275px;
        width: 100%;
        margin: 0 auto;
        padding: 0 0 120px 0;
        @media only screen and (max-width: 1275px){
            padding: 0 5px 120px 5px;
        }
    }
    .main-section{
        @media only screen and (max-width: $tablet1) {
            display: block!important;
            margin-top: 10px;
        }
    }
    .policy-dtl {
        background: #e8eff9;
        width: 30%;
        box-shadow: 1px 1px 3px #ccc;
        @media only screen and (max-width: $tablet1) {
            width: 100%;
            background: #fff;
        }
        figcaption{
            color: #1f1f1f;
            font-size: 14px;
            width: calc(100% - 70px);
            font-family: $font-stack;
        }
        figure {
            width: 70px;
            margin: 0 10px 0 0;
            img {
                width: 100%;
            }
        }
        hr {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        @media only screen and (max-width: $tablet1) {
            .policy-options-wrap {
                display: flex;
            }
        }
    }
    .policy-options {
        font-family: $font-stack;
        position: relative;
        h6 {
            color: #575757;
            font-size: 12px;
            @media only screen and (max-width: $mobile2) {
                height: 28px;
            }
        }
        select {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #d8e4f4;
            font-family: $font-stack;
            &:focus {
                outline: 0;
            }
            &:focus-visible {
                outline: 0;
            }
            @media only screen and (max-width: $mobile2) {
                font-size: 12px;
            }
        }
        &:after{
            content: '';
            background: url('~@/assets/images/down_arw.png')no-repeat;
            width: 12px;
            height: 10px;
            display: block;
            position: absolute;
            bottom: 3px;
            right: 3px;
        }        
        @media only screen and (max-width: $tablet1) {
            width: 25%;
            margin-left: 4px;
            margin-bottom: 5px!important;
            &:first-child(){
                margin-left: 0px;
            }
        }
    }
}

.breakcrum-section {
    padding: 15px 0;
    ul{
        margin-bottom: 0;
        li{
            color: #575757;
            font-size: 14px;
            font-family: $font-stack;
            font-weight: $font-weight-medium;
            @media only screen and (max-width: $tablet1) {
                font-size: 0px;
            }
        }
        li.active {
            color: $main-bg
        }
        @media only screen and (max-width: $tablet1) {
           &:after {
            content: "";
            background: url('~@/assets/images/left-arrow-grey.png')no-repeat;
            width: 17px;
            height: 15px;        
           }
        }
    }
    a {
        color: $main-bg;
        font-size: 14px;
        font-family: $font-stack;
        font-weight: $font-weight-medium;
        text-decoration: none;
    }
    @media only screen and (max-width: $tablet1) {
        padding: 15px 10px;        
        box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    }
}


.policy-dtl-box {
    background: #fff;
    padding: 10px 5px;
    width: 33%;
    @media only screen and (max-width: $tablet1) {
        display: none;
    }
    span {
        img {
            width: 20px;
            height: 20px;
        }
    }
    b{
        color: #1f1f1f;
        font-family: $font-stack;
        font-size: 11px;
    }
    h6 {
        color: #575757;
        font-family: $font-stack;
        font-size: 11px;
    }
}
.policy-dtl-info {
    background: #fff;
    padding: 40px 85px;
    width: calc(100% - 30%);
    box-shadow: 1px 1px 3px #ccc;
    @media only screen and (max-width: $desktop4) {
        padding: 40px 20px;
    }
    @media only screen and (max-width: $tablet1) {
        width: 100%;
        padding: 10px 20px;
    }
    h4 {
        font-family: $font-stack;
        font-size: 18px;
        color: #1f1f1f;
        margin-bottom: 30px;
    }
    form {
        .form-inner{
            display: grid;
            grid-template-columns: 50% 50%;            
            @media only screen and (max-width: $tablet1) {
                grid-template-columns: 100%;
            }
        }
        .form-control1 {
            &:after {
                content: '';
                //background: url('~@/assets/images/down_arw.png')no-repeat;
                width: 12px;
                height: 10px;
                display: block;
                position: absolute;
                top: 20px;
                right: 13px;
            }
            &:nth-child(odd) {
                margin-right: 20px;
                @media only screen and (max-width: $tablet1) {
                    margin-right: 0px;
                }
            }
            .blue-bg-span{
                top: 8px;
            }
        }
        .dob {
            &:after {
                display: none;
            }
        }
    }
}
.next-btn {
    color: #fff;
    font-size: 18px;
    font-family: $font-stack;
    img {
        margin-left: 5px;
    }
}

fieldset {
    border: 1px solid #EEE;
    padding: 10px;
    width: 99%;
    margin: 0px auto 20px;
}

legend {
    color: #000;
    padding: 3px 6px;
    width: auto;
    text-align: left;
    font-weight: 600;
}
.footer-total-premium {
    padding: 20px 50px;
    background: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 15;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.4);
    .bttn-grp {
        button {
            width: 130px;
            height: 40px;
            color: #575757;
            font-size: 18px;
            font-family: $font-stack;
            font-weight: $font-weight-300;
            border-radius: 50px;
            outline: none;
            i {
                margin: 0px 5px 0px 0;
                vertical-align: text-bottom;
            }
            &:first-of-type {
                @media only screen and (max-width: $tablet1) {
                    display: none;
                }
            }
            @media only screen and (max-width: $tablet1) {
                width: 90px;
                height: 35px;
            }
        }
        .next-btn {
            background: #fa9d17;
            border: 0;
            color: #fff;
            font-size: 18px;
            margin: 0;
        }
    }
    .total-premium {
        position: relative;
        font-family: $font-stack;
        b {
            font-weight: 600;
            color: #1f1f1f;
            font-size: 18px;
            @media only screen and (max-width: $tablet1) {
                display: block;
            }
            @media only screen and (max-width: $mobile2) {
                font-size: 12px;
            }
        }
        strong {
            color: #0a3f88;
            font-weight: 700;
            @media only screen and (max-width: $mobile2) {
                font-size: 18px;
            }
        }
        .feature-name{
            img{
                margin: 0;
            }
            i{
                text-align: left;
            }
           .tooltip-sec{
            display: none;
            font-style: normal;
            // font-size: 10px;
            font-size: 10px;
            font-weight: bold;
            background: #fff;
            border: 1px solid #000;
            padding: 1px 5px;
            padding: 5px;
            bottom: 50px;
            position: absolute;
            right: 0;
            }
            &:hover{
                .tooltip-sec{
                    display: block;
                }
            }
            
        }
        .premium-tax{
            display: block !important;
            text-align: right;
            padding-right: 17px;
            font-size: 13px;
        }
    }
    @media only screen and (max-width: $tablet1) {
        padding: 20px 10px;
    }
}

.progressBar {
    margin: 0 0 10px 0;
    counter-reset: tabnumber 0;
    li {
        counter-increment: tabnumber 1; 
        list-style-type: none;
        text-align: center;
        color: #fff;
        display: inline-block;
        margin: 10px 10px 20px 10px;
        font-size: 14px;
        font-family: $font-stack;
        position: relative;
        padding: 0 0px 0 40px;
        a{
            margin: 5px 0 0 0;
            display: block;
        }
        a.nav-link {
            background-color: transparent;
            border-color: transparent;
            border: 0;
            color: #b6b6b6;
            border-radius: 20px;
            padding: 5px 15px;
            transition: all .2s ease-in-out;
            &.active {
                color: $main-bg;
                font-weight: 500;
            }
        }
        &:before {
            content: counter(tabnumber);
            position: absolute;
            left: 0;
            color: #909090;
            top: 0px;
            width: 30px;
            height: 30px;
            border: 1px solid #909090;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:after{
            content: "";
            width: 20px;
            height: 3px;
            background: #b6b6b6;
            position: absolute;
            right: -15px;
            top: 15px;
        }
        &.active{
            &:before{
                background: #0a3f88;
                padding: 5px;
                outline: 1px solid #0a3f88;
                font-size: 12px;
                color: #fff;
                border: 3px solid #fff;
            }
            &:after {
                background: #0a3f88;
            }
        }
        &.completed {
            color: #000;
            &:before{
                content: '';
                background: #fa9d17 url('~@/assets/images/checked.png');
                background-repeat: no-repeat;
                background-position: center;
                border: 0;
            }
            &:after {
                background: #fa9d17;
            }
        }
    }
    div{
        &:last-child{
        li{
            
                &:after {
                    display: none;
                }
            }
        }
    }
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.mandatory-mark {
    color: red;
}

.label-rel .form-control1.label-clicked label, 
.label-rel .form-control1 input:focus + label, 
.label-rel .form-control1 select:focus + label {
    position: relative;
    top: auto;
    left: 0;
    margin: 0;
}
.multiselect {
    border: 1px solid #d8e4f4;
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 48px;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    color: #0a3f88;
    font-weight: 600;
    background: transparent;
}
.multiselect-sec .multiselect .multiselect-caret {
    right: 0!important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.multiselect-sec .multiselect .multiselect-clear {
    top: -25px;
    right: 10px;
    justify-content: flex-end;
}

input[type="radio"] {
    display: none;
    &:checked {
      + .box {
        background: #ebf4ff;
        border: 1px solid #0a3f88;
        font-weight: 700;
        span {
        color: #0a3f88;
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
.box {
    width: 55px;
    height: 48px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid #d8e4f4;
    border-radius: 5px;
    margin: 0 10px 0 0;
    &:active {
    }
    span {
      position: absolute;
      left: 0;
      right: 0;
      font-size: 13px;
      user-select: none;
      color: #0a3f88;
      top: 50%;
      transform: translateY(-50%);
    }
  }